[report]
exclude_lines =
    pragma: no cover

omit =
    */tests/*
    */test_*
    *conftest.py
    */fastpyxl/packaging/interface.py
    */fastpyxl/worksheet/cell_watch.py
    */fastpyxl/workhseet/controls.py
    */fastpyxl/worksheet/custom.py
    */fastpyxl/worksheet/errors.py
    */fastpyxl/worksheet/ole.py
    */fastpyxl/worksheet/picture.py
    */fastpyxl/worksheet/smart_tag.py
